Repository Famedly/ansible-collection-matrix, changes with the owners that CODEOWNERS names for each.
All owners: @famedly/infrastructure, @jcgruenhage, @jdreichmann

feat: allow setting custom groups for appservices
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
  roles/synapse/tasks/prepare.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat(synapse): allow overriding ulimits
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.103.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(barad-dur): bump version to 0.2.0
  roles/barad_dur/defaults/main.yml
Owners: @famedly/infrastructure

update(barad-dur): bump version to 0.3.1
  roles/barad_dur/defaults/main.yml
Owners: @famedly/infrastructure

update(synapse): bump stable version to 1.103.0_2
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.106.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.66
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat: allow setting custom groups for appservices
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
  roles/synapse/tasks/prepare.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat(synapse): allow overriding ulimits
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
Owners: @jcgruenhage, @famedly/infrastructure

fix(synapse): use appservice group IDs instead of group names
  roles/synapse/tasks/deploy_workers.yml
  roles/synapse/tasks/deployment.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.107.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump unstable version to 1.108.0rc1
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.67-rc.1
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.108.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump unstable version to 1.109.0rc1
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

chore: add ff-merge workflow
  .github/workflows/ff-merge.yml
Owners: @famedly/infrastructure

update(hedwig): bump version to 2.0.0-rc.0
  roles/hedwig/defaults/main.yml
Owners: @jdreichmann, @famedly/infrastructure

update(hedwig): bump version to 2.0.0
  roles/hedwig/defaults/main.yml
Owners: @jdreichmann, @famedly/infrastructure

update(synapse): bump stable version to 1.109.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.69
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.70-rc.0
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.111.1
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.112.0
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.74
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

fix(synapse): add new worker media endpoints from 1.111.0
  roles/synapse/tasks/configure_workers.yml
  roles/synapse/vars/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat(livekit): add role
  roles/livekit/README.md
  roles/livekit/defaults/main.yml
  roles/livekit/handlers/main.yml
  roles/livekit/tasks/main.yml
Owners: @famedly/infrastructure

feat(livekit): add option for log level and log sampling
  roles/livekit/README.md
  roles/livekit/defaults/main.yml
Owners: @famedly/infrastructure

update(synapse): bump unstable version to 1.115.0rc2
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.114.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.77
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

CODEOWNERS:

* @famedly/infrastructure

plugins/modules/ @jcgruenhage @famedly/infrastructure
plugins/modules/matrix_member.py @jdreichmann @famedly/infrastructure

roles/synapse @jcgruenhage @famedly/infrastructure
roles/element @jcgruenhage @famedly/infrastructure
roles/hedwig @jdreichmann @famedly/infrastructure
roles/timetracking-bot @jcgruenhage @famedly/infrastructure
