Repository Famedly/ansible-collection-matrix, changes with the owners that CODEOWNERS names for each.
All owners: @famedly/infrastructure, @jcgruenhage, @jdreichmann

chore(hedwig): migrate to standardized container image variable structure
  roles/hedwig/defaults/main.yml
  roles/hedwig/tasks/main.yml
Owners: @jdreichmann, @famedly/infrastructure

update(synapse): bump version to 1.90.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump version to 1.11.39
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

chore(element-web): crop version from path when deployed via tarball
  roles/element/tasks/download.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(hedwig): bump version to 1.5.5
  roles/hedwig/defaults/main.yml
Owners: @jdreichmann, @famedly/infrastructure

chore(synapse): don't duplicate rate limiting defaults into deprecated config options
  roles/synapse/vars/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

chore(synapse): remove deprecated option perspectives
  roles/synapse/vars/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat(synapse): allow overriding parts of the log config
  roles/synapse/defaults/main.yml
  roles/synapse/files/log.config
  roles/synapse/tasks/logging.yml
  roles/synapse/vars/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.92.1
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.42
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

fix(cinny): set container restart policy to unless-stopped
  roles/cinny/tasks/main.yml
Owners: @famedly/infrastructure

chore(ci): adjust for workflow changes
  .github/workflows/ansible.yml
Owners: @famedly/infrastructure

update(synapse): bump stable version to 1.92.2
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump version to 1.92.3
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump version to 1.93.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

chore: reformat with black
  tests/unit/test_AnsibleModuleMatrixNotification.py
  tests/unit/test_AnsibleModuleMatrixTokenLogin.py
Owners: @famedly/infrastructure

update(synapse): bump unstable version to 1.94.0rc1
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.45
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.36-rc.2
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat: allow setting custom groups for appservices
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
  roles/synapse/tasks/prepare.yml
Owners: @jcgruenhage, @famedly/infrastructure

feat(synapse): allow overriding ulimits
  roles/synapse/defaults/main.yml
  roles/synapse/tasks/deployment.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.46-rc.2
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.95.1
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump unstable version to 1.96.0rc1
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.49
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.50-rc.0
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(cinny): bump version to 3.2.0
  roles/cinny/defaults/main.yml
Owners: @famedly/infrastructure

chore(synapse): ensure all media belongs to synapse user when folder containing it was changed
  roles/synapse/tasks/configure.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.51
  roles/element/defaults/main.yml
  roles/element/tasks/download.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.98.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

fix(synapse): propagate environment to workers
  roles/synapse/tasks/deploy_workers.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.99.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.54
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

fix(synapse): don't install signedjson with pip
  roles/synapse/tasks/crypto.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump version to 1.99.0_7
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.101.0
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.58
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump stable version to 1.11.61
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(element): bump unstable version to 1.11.62-rc.0
  roles/element/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

update(synapse): bump stable version to 1.101.3
  roles/synapse/README.md
  roles/synapse/defaults/main.yml
Owners: @jcgruenhage, @famedly/infrastructure

CODEOWNERS:

* @famedly/infrastructure

plugins/modules/ @jcgruenhage @famedly/infrastructure
plugins/modules/matrix_member.py @jdreichmann @famedly/infrastructure

roles/synapse @jcgruenhage @famedly/infrastructure
roles/element @jcgruenhage @famedly/infrastructure
roles/hedwig @jdreichmann @famedly/infrastructure
roles/timetracking-bot @jcgruenhage @famedly/infrastructure
